/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*COMMON*/
body{
    color: white;
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    width: 80%;
    margin: 0 auto;
}
/*FLEXBOX*/
.flex{
    display: flex;
}
.flexspacebwcenter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*MARGIN*/
.margin-top20{
    margin-top: 20px;
}
.margin-bottom10 {
    margin-bottom: 10px;
}
/*HEADER*/
.header-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 0 1rem; 
    background-color: #0084fd;
    width: 100%;
    height: 10vh;
}
.nav{
    width: 100%;
    height: 100%;
}
.header-list{
    list-style-type: none;
    display: none;
}
/*MAIN*/
/*SETTING*/
.setting{
    margin-top: 15vh;
}
.row{
    width: 100%;
    height: 40vh;
}
.col{
    width: 100%;
    height: 40%;
    background-color: #65b4fa;
    border-radius: 10px;
    padding: 10px;
    /*debug*/
    border: 1px solid black;
}
.large{
    height: 60%;
}
.rowtwo{
    width: 100%;
    height: 40vh; 
}
.rowtwo .col{
    margin: 10px 0;
}
/*SETTING COLUMN*/
.paragraph{
    width: 100%;
    height: 50%;
    /*debug*/
    background-color: brown;
}
.setting-img{
    width: 100%;
    height: 50%;
    /*debug*/
    background-color: yellow;
}
/*FOOTER*/
/*MEDIAQUERY*/
@media screen and (min-width: 768px) {
   /*MAIN*/
   /*SETTINGS*/
   .row,
   .rowtwo{
    display: flex;
    justify-content: space-between;
   }
   .row .col,
   .rowtwo .col{
    height: 100%;
    margin-left: 10px;
   }
   .row .col{
    width: calc(33% - 10px);
   }
   .large{
    flex-grow: 1;
   }
   /*SETTINGS COLUMNS WITHOUT CLASS LARGE*/
   div .col:not(.large) .setting-img{
    height: 30%;
   }
   div .col:not(.large) .paragraph{
    height: 70%;
   }
}
@media screen and (min-width: 992px) {
   /*HEADER*/
    .menu-button{
        display: none;
    }
    .header-list{
        display: flex;
        gap: 10px;
    }
    /*MAIN*/
    /*SETTINGS*/
    .row .large{
        display: flex;
        align-content: stretch;
    }
    .large .paragraph{
        height: 100%;
    }
    .large .setting-img{
        height: 100%;
    }
    /*SETTINGS COLUMN WITHOUT CLASS LARGE*/
    div .col:not(.large) .setting-img{
        height: 50%;
       }
       div .col:not(.large) .paragraph{
        height: 50%;
       }
}