:root{
    --first-color: #0E131F;
    --second-color: #38405F;
    --third-color: #001eff;
    --fourth-color: #ffffff;
    --fifth-color: #FF0035;
}
/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*COMMON*/
a{
    text-decoration: none;
    color: inherit;
}
.container{
    width: 80%;
    margin: 0 auto;
}
img{
    max-width: 100%;
}
/*LAYOUT*/
/*BUTTON*/
.button{
    padding: 0.5rem 1rem;
    border-radius: 10px;
}
/*BUTTON COLORS*/
.first{
    background-color: white;
    color: black;
}
.second{
    background-color: var(--fifth-color);
}
/*FLEXBOX*/
.flex{
    display: flex;
}
.flexcol{
    display: flex;
    flex-direction: column;
}
.flexcolcenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexspacebwcenter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flexcenter{
    display: flex;
    justify-content: center;
}
/*MARGIN*/
.margin-top20{
    margin-top: 20px;
}
.margin-top120{
    margin-top: 120px;
}
.margin-bottom10 {
    margin-bottom: 10px;
}
.margin-bottom30{
    margin-bottom: 30px;
}
.margin-bottom50{
    margin-bottom: 50px;
}
.margin-right10{
    margin-right: 10px;
}
/*HEADER*/
.header-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 0 1rem; 
    background-color: var(--first-color);
    color: var(--fourth-color);
    width: 100%;
    height: 10vh;
}
.nav{
    width: 100%;
    height: 100%;
}
.menu-button i{
    font-size: 2rem;
}
.header-list{
    list-style-type: none;
    display: none;
}
/*MAIN*/
/*SETTING*/
.setting{
    margin-top: 100px;
    margin-bottom: 100px;
}
.row{
    width: 100%;
}
.col{
    width: 100%;
    height: 40vh;
    background-color: var(--third-color);
    color: white;
    border-radius: 10px;
}
.large{
    height: 60vh;
}
.rowtwo{
    width: 100%;
}
.rowtwo .col{
    margin: 10px 0;
}
/*SETTING COLUMN*/
.paragraph{
    width: 100%;
    height: 50%;
    padding: 10px;
}
.col:not(.large) .paragraph{
    text-align: center;
}
.setting-img{
    width: 100%;
    height: 50%;
    padding: 0 10px;
}
.setting-img i{
    font-size: 6em;
}
.large img{
    display: block;
    max-width: 500px;
}
/*STRATEGIC PLANNING*/
.strategic-planning{
    background-color: #9792e4;
}
.card{
    width: 100%;
    padding: 20px;
}
.card-img{
    width: 100%;
}
.card-paragraph{
    width: 100%;
}
.white{
    background-color: white;
    color: black;
    border-radius: 10px;
}
/*TESTIMONIAL*/
.testimonial-card{
    background-color: #9792e4;
    width: 100%;
    height: 40vh;
    border-radius: 10px;
    padding: 20px;
}
.testimonial-img{
    width: 50%;
    height: 40%;
    border-radius: 50%;
    /*DEBUG*/
    background-color: orange;
}
.testimonial-paragraph{
    width:100%;
    height: 60%;
    /*DEBUG*/
    background-color: green;
}
/*BENEFITS*/
.benefits{
    background-color: #9792e4;
}
.benefits h2{
    text-align: center;
}
.benefit-col{
    width: 100%;
    height: 30vh;
    margin: 20px 0;
    border-radius: 10px;
    /*DEBUG*/
    border: 1px solid black;
}
/*ABOUT US*/
.aboutus h2{
    color: purple;
}
.aboutus-card{
    height: 40vh;

    /*DEBUG*/
    background-color: grey;
}
/*CALL TO ACTION*/
.calltoaction{
    background-color: #9792e4;
    color: white;
    padding: 10px;
    text-align: center;
}
/*FOOTER*/
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
/*MEDIAQUERY*/
@media screen and (min-width: 768px) {
   /*MAIN*/
   /*SETTINGS*/
   .col:not(.large) i{
    font-size: 3.5em;
   }
   .row,
   .rowtwo{
    display: flex;
    justify-content: space-between;
   }
   .row .col,
   .rowtwo .col{
    height: 40vh;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   }
   .row .col:not(.large) .setting-img,
   .rowtwo .col .setting-img{
    height: 30%;
   }
   .row .col .paragraph,
   .rowtwo .col .paragraph{
    flex-grow: 1;
   }
   .row .col{
    width: calc(33% - 10px);
   }
   .large{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
   }
   .large .paragraph{
    flex-grow: 1;
    margin-bottom: 20px;
   }
   .large .img{
    height: 30%;
   }
   /*SETTINGS COLUMNS WITHOUT CLASS LARGE*/
   div .col:not(.large) .setting-img{
    height: 30%;
   }
   div .col:not(.large) .paragraph{
    height: 70%;
   }
   /*TESTIMONIAL SECTION*/
   .testimonial-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
   }
   .testimonial-img{
    width: 30%;
    height: 50%;
   }
   .testimonial-paragraph{
    height: 40%;
    width: 60%;
   }
   /*BENEFITS SECTION*/
   .benefits-row{
    display: flex;
    flex-wrap: wrap;
   }
   .benefit-col{
    width: calc(100% / 2 - 20px);
   }
   .benefit-col:nth-child(odd){
    margin-right: 20px;
   }
   /*ABOUTUS CONTAINER*/
   .aboutus{
    display: flex;
    justify-content: space-between;
   }
   .aboutus-paragraph{
    width: 60%;
   }
   .aboutus-card{
    width: 30%;
    height: 30vh;
   }
}
@media screen and (min-width: 992px) {
   /*HEADER*/
    .menu-button{
        display: none;
    }
    .header-list{
        display: flex;
        gap: 10px;
    }
    /*MAIN*/
    /*SETTINGS*/
    .row .large{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .large .paragraph{
        width: 50%;
        height: 100%;
    }
    .large .setting-img{
        width: 50%;
        height: 100%;
        display: flex;
    }
    .large .setting-img img{
        justify-content: flex-end;
    }
    /*SETTINGS COLUMN WITHOUT CLASS LARGE*/
    .setting .col:not(.large) .setting-img{
        height: 50%;
    }
    .setting .col:not(.large) .paragraph{
        flex-grow: 1;
    }
    .setting .col:not(.large) i{
        font-size: 5em;
    }
    /*STRATEGIC PLANNING*/
    .strategic-card{
        display: flex;
        width: 60%;
    }
    .strategic-card .card{
        width: 50%;
        margin-bottom: 0;
    }
    .other-card{
        height: 350px;
        align-self: flex-end;
    }
    /*TESTIMONIAL SECTION*/
    .testimonial-card{
        gap: 20px;
    }
    .testimonial-img{
        height: 60%;
    }
    .testimonial-paragraph{
        height: 50%;
    }
    /*BENEFITS*/
    .benefits-row{
        display: flex;
        flex-wrap: wrap;
    }
    .benefit-col{
        width: calc(100% / 3 - 20px);
    }
    .benefit-col:nth-child(odd){
        margin-right: 0;
    }
    .benefit-col:nth-child(3n+2){
        margin-left: 20px;
        margin-right: 20px;
    }
    /*CALL TO ACTION*/
    .calltoaction .container{
        width: 60%;
    }
    /*FOOTER*/
    footer .container{
        width: 60%;
    }
}